# Terraform setup
**/.terraform/*
*.tfstate
*.tfstate.*
*.lock.hcl
id_rsa
id_rsa.pub

# Ansible testsuite dynamic vars
group_vars/

# Python cache
__pycache__/

# MySQL login files
**/.mylogin.cnf
**/mysql_root_password.txt
**/superset_cluster_ca_certificate.pem
**/superset_cluster_ca_key.pem
